@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1657765452449') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-24gl-play:before {
  content: "\ea6d";
}

.icon-24gf-play:before {
  content: "\ea82";
}

.icon-geren:before {
  content: "\e654";
}

